@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  padding: 40px;
  width: 100vw;
  height: 800px;
  box-sizing: border-box;
  color: $white;
  background: linear-gradient(to bottom right, $blue-darker, $blue-lighter);
}
.blogContainer {
  height: 400px;
  background: linear-gradient(to bottom, $blue-darker, $blue-lighter);
  & .heading {
    width: 100%;
    text-align: center;
  }
}
.inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  flex: 1;
}
.heading {
  line-height: 80px;
  z-index: 1;
  opacity: 0;
}
.globe {
  position: absolute;
  height: 700px;
  width: 100vw;
  right: -100px;
  opacity: 0;
}
@media screen and (min-width: $breakpoint-ipad) {
  .heading {
    line-height: 100px;
  }
  .globe {
    height: 1000px;
    width: 650px;
    right: 40px;
    top: -50;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .container {
    padding: $gutter-desktop 180px;
    height: 800px;
  }
  .globe {
    right: 80px;
  }
  .heading {
    width: 100%;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .container {
    padding: $gutter-desktop 180px;
  }
  .heading {
    font-size: 72px;
  }
}

@media screen and (min-width: 1600px) {
  .globe {
    right: 200px;
  }
}
