@import '../../styles/variables.scss';

.container {
  position: relative;
  padding: $gutter-mobile 40px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $background-color;
}
.inner {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
}

@media screen and (min-width: $breakpoint-laptop) {
  .container {
    padding: 80px 200px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .container {
    padding: 80px 300px;
  }
}
