@import '../../styles/variables.scss';

.container {
  width: 100%;
}
.heading {
  position: absolute;
  top: 60px;
}
.blogContainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: $breakpoint-laptop) {
  .blogContainer {
    justify-content: flex-start;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .blogContainer {
    justify-content: space-evenly;
  }
}
