@import '../../styles/variables.scss';

.container {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $background-color;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: $breakpoint-ipad) {
  .container {
    padding: 80px;
  }
}
