@import '../styles/variables.scss';

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  border-radius: $base-border-radius;
}
.image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  border-radius: $base-border-radius;
}
.text {
  margin-top: $gutter-desktop;
}
.flexWrapper {
  display: flex;
}
.info {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
}
.labelValuePair {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.label {
  font-weight: $font-weight-medium;
  margin-right: 10px;
}
.value {
  font-weight: $font-weight-light;
}
@media screen and (min-width: $breakppoint-iphone-plus) {
  .imageWrapper {
    height: 260px;
  }
}
@media screen and (min-width: $breakpoint-mobile) {
  .imageWrapper {
    height: 320px;
  }
}
@media screen and (min-width: $breakpoint-ipad) {
  .imageWrapper {
    height: 440px;
  }
}
@media screen and (min-width: $breakpoint-laptop) {
  .imageWrapper {
    height: 520px;
  }
  .info {
    right: calc(100% + 25px);
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .info {
    position: absolute;
    width: 250px;
    right: calc(100% + px);
    top: 0;
  }
}
